body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 80%;
}

body {
    display: grid;
	grid-template-rows: 100 px 1fr;
	grid-template-columns: 500px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: rgb(76, 179, 197);
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: rgb(255, 255, 255);
}
.content {
	grid-area: content;
}
.content2 {
	grid-area: content2;
}