body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 50% 50%; /* change to 50/50 split */
	grid-template-areas: 
	"header header"
	"content sidebar"; /* swapped places */
}

.header {
	grid-area: header;
	padding:10px;
	background-color: rgb(40, 125, 151);
	color: white;
	font-size: 2em;
	text-align: center;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: rgb(0, 0, 0);

}
/* creating css entry to build our sidebar */

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: rgb(19, 95, 100); /* background color of the card */
    border: 1px solid rgb(16, 59, 88); /* border width and color */
    margin: 5px; /* outer padding */
	cursor: pointer; /* change cursor to hand on hover */
}

.content {
	grid-area: content;
}